<div class="row-fluid" ng-controller="NoteBooksCtrl">
  <div class="content clearfix">
 	  <h1>教材 (<span class='count'>{{noteBooks.length}}</span>本)</h1>  	  
		<ul class="books">
		  <li class="book" ng-repeat="noteBook in noteBooks">
		  	<%= render 'book_detail' %>
		  </li>	
		</ul>
  </div>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "note-books-index" %>
<% end %>