<div class="row-fluid" ng-controller="NoteBookCtrl">
	<div class="book">
		<%= render 'book_detail' %>
	</div>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "note-books-show" %>
<% end %>  
