.container-fluid {
	max-width: 940px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}
.pull-right {
	float: right;
}
.nav {
	margin-left: 0;
	margin-bottom: 20px;
	list-style: none;
}
.collapse {
	position: relative;
	transition: height 0.35s ease;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}

/*For nav bar*/
.navbar {
	margin-bottom: 0;
	overflow: visible;
}
.navbar .brand {
	float: left;
	display: block;
	margin-left: 3px;
	margin-top: 35px;
	width: 160px;
	height: 45px;
	font-size: 40px;
	font-weight: 200;
	color: #ff8533;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background: url("/images/logo.png") no-repeat;
	padding: 0;
}

.navbar-inverse .navbar-inner {
	padding: 0 6px;
	background: #575b1f url("/images/forest.jpg") no-repeat center 0;
	filter: none;
	border: none;
	border-radius: 0;
	border-color: #252525;
	min-height: 40px;
}
.navbar-inner:before, .navbar-inner:after {
	display: table;
	content: "";
	line-height: 0;
}
.navbar-inner:after {
	clear: both;
}
.nav>li>a {
	display: block;
}
.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #777;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
.navbar-inverse .nav li a {
	font-size: 16px;
	text-shadow: 0px 1px 6px black;
	color: white;
}
.navbar-inverse .brand:hover, .navbar-inverse .nav>li>a:hover {
	color: #fff;
}

.navbar-text {
	margin-bottom: 0;
	line-height: 40px;
	color: #777;
}
.navbar-inverse .navbar-text {
	position: relative;
	z-index: 10;
	margin-top: 24px;
	color: #999;
}
.navbar-inverse .navbar-text .button-orange {
	padding: 8px 16px;
	background: #ff8533;
	color: white;
	text-decoration: none;
}

.navbar-inverse .navbar-inner .nav-collapse.collapse {
	margin-left: 15%;
}
.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	list-style: none;
	top:24px;
}
.navbar .nav>li {
	float: left;
}
.navbar-inverse .nav li a {
	font-size: 16px;
	text-shadow: 0px 1px 6px black;
	color: white;
}
.navbar-inverse .nav .active>a {
	box-shadow: none;
	border-bottom: 6px solid #ff8533;
	background-color: transparent;
	padding-bottom: 20px;
}

/*End of nav bar*/
/*Start of body content*/
.bg-wrap {
	padding-bottom: 10%;
	min-height: 680px;
	background: url("/images/bg-wrap.png") repeat;
}
.bg-wrap h1 {
	margin: 45px 0 20px 0;
	font-size: 26px;
}
.bg-wrap .sidebar{
	float: right;
}
.books{
	margin-top: 5px;
}
.book{
	border-top: 1px dashed #ddd;
	padding: 20px 0 10px;
}
.book .pic{
	float: left;
	margin-right: 20px;
}
.book .info{
	overflow: hidden;
	zoom: 1;
	color: #666;
}
.book .subTitle{
	font-size: 70%;
	color: #AAA;
}

.index-progress{
	width: 343px;
	height: 21px;
	padding: 3px 5px 0 5px;
	background: url(http://baicizhan.qiniudn.com/pack/assets/index_progress_box.png);
	margin-top: 10px;
}
.index-progress p{
	height: 18px;
	background: url(http://baicizhan.qiniudn.com/pack/assets/index_progress.png);
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
/*End of body content*/
/*For footer*/
footer{
	min-height: 200px;
	background-color: #2a2a2a;
}

footer .container-fluid {
	text-align: center;
}

footer .container-fluid p {
color: #6F6F6F;
font-size: 12px;
}

footer .container-fluid ul {
	margin: 50px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	display: inline-block;
	zoom: 1;
}
footer .container-fluid ul li {
	float: left;
	margin-left: 26px;
}
footer .container-fluid ul li a {
	color: #EAEAEA;
}

/*End of footer*/