<div class="container-fluid" ng-controller="BooksCtrl">
	<div class="row-fluid">
	  <div class="span2 pull-right">
	  	<h2>我的成就</h2> 
	  	<ul>
	  		<li> Sample 1</li>	
	  	</ul>
	  </div>	  	  
	  <div class="span10 content">
		<div class="span12">
	 	  <h1>
	 	  	我的教材 (<span class='count'>{{books.length}}</span>本) 
	 	  </h1>  	  
		</div>
		<ul class="books">
		  <li class="book" ng-repeat="book in books">
		  	<div class="pic">
	      	  <a class="nbg" href="/book/{{book.id}}">
	      	  	<img src="/assets/zhengzhi_01.png"width="90">
	      	  </a> 		    	
		    </div>
	            
		    <div class="info">
		      <h2 class="profile">
		      	<a class="title" href="/book/{{book.id}}">
		          <span class="title">{{book.title}}</span> 
		          <span class="subTitle">{{book.subTitle}}</span> 
		        </a> 
		      </h2>
		      <div class="progress">共649个条目，有127个需要复习</div> 
		      <div class="summary">还有1025个人与您一起复习此书，您复习的总数战胜了87%的人</div> 
		    </div>
		  </li>	
		</ul>
	  </div>
	</div>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "books" %>
<% end %>