.container-fluid {
	max-width: 940px;
	margin: 0 auto;
}

/*For nav bar*/
.navbar .brand {
	margin-top: 35px;
	width: 160px;
	height: 45px;
}

.navbar-inverse .brand:hover, .navbar-inverse .nav>li>a:hover {
	color: #fff;
}

.navbar-inverse .navbar-text {
	margin-top: 24px;
}
.navbar .nav {
	top:24px;
}
.navbar-inverse .nav li a {
	font-size: 16px;
}

/*End of nav bar*/
/*Start of body content*/
.bg-wrap {
	padding-bottom: 10%;
	min-height: 680px;
	background: url("/assets/bg-wrap.png") repeat;
	margin-top: -20px;
}
.bg-wrap h1 {
	margin: 45px 0 20px 0;
	font-size: 26px;
}
.bg-wrap .sidebar{
	float: right;
}
.books{
	margin-top: 5px;
}
.book{
	border-top: 1px dashed #ddd;
	padding: 20px 0 10px;
}
.book .pic{
	float: left;
	margin-right: 20px;
}
.book .info{
	overflow: hidden;
	zoom: 1;
	color: #666;
}
.title .subTitle{
	font-size: 70%;
	color: #AAA;
}

.index-progress{
	width: 343px;
	height: 21px;
	padding: 3px 5px 0 5px;
	background: url(http://baicizhan.qiniudn.com/pack/assets/index_progress_box.png);
	margin-top: 10px;
}
.index-progress p{
	height: 18px;
	background: url(http://baicizhan.qiniudn.com/pack/assets/index_progress.png);
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.plan{
	font-size: 25px;
}
/*End of body content*/

.jumbotron {
    margin: 80px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/*For footer*/
footer{
	min-height: 200px;
	background-color: #2a2a2a;
}

footer .container-fluid {
	text-align: center;
}

footer .container-fluid p {
color: #6F6F6F;
font-size: 12px;
}

footer .container-fluid ul {
	margin: 50px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	display: inline-block;
	zoom: 1;
}
footer .container-fluid ul li {
	float: left;
	margin-left: 26px;
}
footer .container-fluid ul li a {
	color: #EAEAEA;
}

/*End of footer*/