.note{
	width: 600px;
	height: 400px;
	margin: 30px auto;
	border: 1px solid black;

	display: table;
	overflow:hidden;
	cursor: pointer;
	background: url(http://baicizhan.qiniudn.com/pack/assets/words_list_bg.png);

	.note-front{
		font-size: 35px;
		display:table-cell;
		vertical-align: middle;
	}
	.note-back{
		font-size: 25px;
		padding: 10px;
	}

	.note-actions{
	}
}

.plan{
	font-size: 25px;
}
