<div class="container-fluid" ng-controller="BooksCtrl">
	<div class="row-fluid">
	  <div class="content clearfix">
	 	  <h1>关于我们</h1>  	  
			<address>
				<strong>张晓庆</strong> <br>
				微博：@aqingsao<br>
				邮箱：vinci.zhang@gmail.com<br>
				博客：<%= link_to "http://xiaoqing.me", "http://xiaoqing.me"%><br>
			</address>

	  </div>
	</div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "about" %>
<% end %>
