<div class="row-fluid" ng-controller="PlansCtrl">
  <div class="content clearfix">
 	  <h1>我的教材 (<span class='count'>{{plans.length}}</span>本)</h1>  	  
		<ul class="books">
		  <li class="book" ng-repeat="plan in plans">
		  	<div class="pic">
	      	  <a class="nbg" href="/books/{{plan.book_id}}">
	      	  	<img src="/assets/zhengzhi_01.png"width="90">
	      	  </a> 		    	
		    </div>
	            
		    <div class="info">
		      <h2 class="profile">
		      	<a class="title" href="/books/{{plan.book_id}}">
		          <span class="title">{{plan.book.title}}</span> 
		          <span class="subTitle">{{plan.book.subTitle}}</span> 
		        </a> 
		      </h2>
		      <div class="progress">共649个条目，有127个需要复习</div> 
		      <div class="summary">还有1025个人与您一起复习此书，您复习的总数战胜了87%的人</div> 
		    </div>
		  </li>	
		</ul>
  </div>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "plans-index" %>
<% end %>