<div class="row-fluid" ng-controller="PlanCtrl">
		<div class="note">
			<div class="note-front">
				<p class="text-center">Shed</p>
			</div>		
		</div>
		<ul class="inline note-actions navbar-fixed-bottom text-center">
			<li><a class="btn btn-info">不记得了</a></li>
			<li><a class="btn btn-info">我记得答案</a></li>
			<li><a class="btn btn-info">太简单了</a></li>
		</ul>
</div>
<% content_for :styles do %>
  <%= stylesheet_link_tag "plan", :media => "all" %>
<% end %>  
<% content_for :scripts do %>
  <%= javascript_include_tag "plans-show" %>
<% end %>  
