<div class="row-fluid" ng-controller="PlanCtrl">
	<h1>
	  <a class="title" href="/books/{{book.id}}">
			<span class="mainTitle">{{plan.book.title}}</span> 
	  	<span class="subTitle">{{plan.book.subTitle}}</span> 
	  </a>
	</h1> 
  <div class="content">
		<div>
		  距离
		  <span class="expected-date">{{plan.due_date.getFullYear()}}年{{plan.due_date.getMonth() + 1}}月{{plan.due_date.getDate()}}日</span> 
		  完成，还剩 
		  <span class="remain-date">{{plan.remaining_date}}</span>
		  天
		</div> 
		<div class="completion-status">
		  完成度：0/1000
		  <span class="status-normal"></span>
		</div>
		<div class="index-progress">
		  <p style="width:1.1279311368358562%"></p>
		</div>
		<div class="review">
			<%= link_to "开始复习", review_plan_path(), :class => "btn btn-primary" %>
		</div>
	</div>    
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "plans-show" %>
<% end %>  
